.m0{margin: 0;}
.m5{margin: 5;}
.m10{margin: 10;}
.m20{margin: 20;}
.m30{margin: 30;}
.m40{margin: 40;}

.p0 {padding : 0;}
.p5 {padding : 5;}
.p10{padding: 10;}
.p20{padding: 20;}
.p30{padding: 30;}
.p40{padding: 40;}




.mtop0{margin-top: 0px;}
.mtop10{margin-top: 10px;}
.mtop20{margin-top: 20px;}
.mtop30{margin-top: 30px;}
.mtop40{margin-top: 40px;}
.mtop5 {margin-top: 5px;}

.ptop0{padding-top: 0px;}
.ptop10{padding-top: 10px;}
.ptop20{padding-top: 20px;}
.ptop30{padding-top: 30px;}
.ptop40{padding-top: 40px;}
.ptop5 {padding-top: 5px;}

.pbottom5 {padding-bottom: 5px;}
.pbottom0{padding-bottom: 0px;}
.pbottom10{padding-bottom: 10px;}
.pbottom20{padding-bottom: 20px;}
.pbottom30{padding-bottom: 30px;}
.pbottom40{padding-bottom: 40px;}

.mbottom5 {margin-bottom: 5px;}
.mbottom0{margin-bottom: 0px;}
.mbottom10{margin-bottom: 10px;}
.mbottom20{margin-bottom: 20px;}
.mbottom30{margin-bottom: 30px;}
.mbottom40{margin-bottom: 40px;}

.pleft5 {padding-left: 5px;}
.pleft0{padding-left: 0px;}
.pleft10{padding-left: 10px;}
.pleft20{padding-left: 20px;}
.pleft30{padding-left: 30px;}
.pleft40{padding-left: 40px;}

.pright5 {padding-right: 5px;}
.pright0{padding-right: 0px;}
.pright10{padding-right: 10px;}
.pright20{padding-right: 20px;}
.pright30{padding-right: 30px;}
.pright40{padding-right: 40px;}

.mleft5 {margin-left: 5px;}
.mleft0{margin-left: 0px;}
.mleft10{margin-left: 10px;}
.mleft20{margin-left: 20px;}
.mleft30{margin-left: 30px;}
.mleft40{margin-left: 40px;}

.mright0{margin-right: 0px;}
.mright10{margin-right: 10px;}
.mright5 {margin-right: 5px;}
.mright20{margin-right: 20px;}
.mright30{margin-right: 30px;}
.mright40{margin-right: 40px;}
